* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Marcellus", serif;
}


/* pagination and arrows css  */

.swiper-button-next::after,
  .swiper-button-prev::after {
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    padding: 10px;
    border-radius: 100%;
  }

  /* Updated Pagination Style */
  .swiper-pagination-bullet {
    width: 30px;
    height: 5px;
    background-color: white;
    opacity: 0.6;
    border-radius: 0;
    display: inline-block;
    margin: 0 4px;
    border-radius: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: #602222;
    opacity: 1;
  }

  /* services tabs  */
   .clip-banner {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
      }