* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw; /* Prevent horizontal overflow */
    font-family: 'Cormorant Garamond', serif;
}
