*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}

/* Swiper Arrow Customization */
.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;   /* arrow size */
  font-weight: bold;
  color: white;
}

/* pagination color */
.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: #895093 !important;
}
